
<ion-modal-view class="modal">
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">{{image.title}}</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">
			Close
		</button>
	</ion-header-bar>
	<ion-content class="padding" scroll="false">
		<ion-scroll overflow-scroll="false" zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
			<img ng-src="{{image.image}}"></img>
		</ion-scroll>
	</ion-content>
</ion-modal-view> 

