<ion-view title="Alerts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
        
    <td-cards>
        <td-card ng-repeat="item in items" on-destroy="itemDestroyed($index)" on-swipe-left="" on-swipe-right="" on-partial-swipe="" class="card-{{$index}}">
          <div class="image" ng-controller="AlertsCtrl">
            <div class="no-text">NOPE</div>
            <img ng-src="{{item.picture}}">
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>

</ion-content>
</ion-view>
