<ion-view title="Alerts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
        
    <td-cards>

<td-card ng-repeat="item in items" on-destroy="itemDestroyed($index)" on-swipe-left="" on-swipe-right="" on-partial-swipe="" class="card-{{$index}}">
    <div class="item item-avatar">
        <img ng-src="{{item.picture}}">
        <h2>{{item.name}}</h2>
        <p>{{item.date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{item.picture}}">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

 </div>


        </td-card>
      </td-cards>

</ion-content>
</ion-view>
