<ion-view title="{{item.name}}">
  <ion-content class="has-header">
    
      
      <div class="list card">

      <div class="item item-avatar">
        <img src="{{item.attributes.createdBy.attributes.avatar._url}}">
        <h2>{{item.attributes.createdBy.attributes.username}}</h2>
        <p>{{item.createdAt | date:'MM/dd/yyyy  h:mm:ssa' }}</p>
      </div>

      <div class="item item-body">
        <h2>{{item.attributes.name}}</h2>
        <img class="full-image" src="{{item.attributes.picture._url}}">

        <label class="item item-input item-stacked-label">
          <!-- <map on-create="mapCreated(map)"></map> -->
            <div data-tap-disabled="true"><div id="alertmap" style="height:180px;"></div> </div>

        </label>


        <p>
          {{item.attributes.description}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#/app/found_items/messages/{{item.id}}" class="subdued">{{messages}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        
        <a class="tab-item" href="#/app/found_items/messages/{{item.id}}">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

      
      
      
      
      
      
      
      
  </ion-content>
</ion-view>
