<ion-view title="Two Keys">
  <ion-content class="has-header">
    
      
      <div class="list card">

      <div class="item item-avatar">
        <img src="https://pbs.twimg.com/profile_images/1234618042/MartyMcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://www.doorcloser.com/acatalog/DCSC_KEYS_LARGE.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

      
      
      
      
      
      
      
      
  </ion-content>
</ion-view>
