<ion-modal-view class="modal">
	<ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Choose from Camera or Gallery</h1>
	  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
		
		<div class="row">
			<div class="col">
				<button class="button button-block button-positive" ng-click="useCamera()">
				  <i class="icon ion-camera"></i>
				</button>
			</div>
			<div class="col">
				<button class="button button-block button-positive" ng-click="usePicture()">
				  <i class="icon ion-image"></i>
				</button>
			</div>
		</div>


	</ion-content>
</ion-modal-view>