
<ion-view title="{{'sign_up' | translate}}" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<h1>Sign Up</h1>
		<form ua-signup ng-submit="signup()">
			<ion-view title="Sign Up">
				<div class="list list-inset">
					<label class="item item-input">
						<span class="input-label">{{'username' | translate}}</span>
						<input type="text" name="first_name" ng-model="newUser.username">
					</label>
					<label class="item item-input">
						<span class="input-label">{{'email' | translate}}</span>
						<input type="email" name="login" ng-model="newUser.email" ua-is-email>
					</label>
					<label class="item item-input">
						<span class="input-label">{{'password' | translate}}</span>
						<input type="password" name="password" ng-model="newUser.password">
					</label>
				</div>
				<div class="padding">
					<button type="submit" class="button button-block button-positive">
						<span ng-show="!loading">{{'create_account' | translate}}</span>
						<i ng-show="loading" class="ion-loading-b"></i>
					</button>
				</div>
			</ion-view>
			<div class="bar bar-footer bar-assertive" ng-show="error">
				<div class="title">{{ error.message }}</div>
			</div>
		</form>

	</ion-content>
</ion-view>

