<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="net.indaba.lostandfound" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>LostAndFound</name>
	<description>
		LostAndFound: Misplaced item network app
	</description>
	<author email="lostandfound@indaba.es" href="http://www.indaba.es/">
		Indaba Consultores S.L.
	</author>
	<content src="index.html"/>
	<access origin="*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="3000"/>
	<preference name="AutoHideSplashScreen" value="false"/>
	<feature name="StatusBar">
		<param name="ios-package" onload="true" value="CDVStatusBar"/>
	</feature>
	<plugin name="cordova-plugin-device" spec="~1.1.3"/>
	<plugin name="cordova-plugin-console" spec="~1.0.4"/>
	<plugin name="cordova-plugin-whitelist" spec="~1.3.0"/>
	<plugin name="cordova-plugin-splashscreen" spec="~4.0.0"/>
	<plugin name="cordova-plugin-statusbar" spec="~2.2.0"/>
	<plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
</widget>
