
<ion-view title="{{'info' | translate}}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="card">
			<div class="item item-divider">
				{{'description' | translate}}
			</div>
			<div class="item item-text-wrap">
				<p ng-if="isCastellano()">{{office.description.es}}</p>
				<p ng-if="!isCastellano()">{{office.description.eu}}</p>
				<br />
			</div>

			<div class="item item-divider">
				{{'contact' | translate}}
			</div>
			<div class="item item-text-wrap">
				<p>Email: {{office.emailAddress}}</p>
				<br />
				<p>Tel: {{office.phoneNumber}}</p>
				<br />
				<p>Web: <a href="#" ng-click="openUrl(office.url)">{{office.url}}</a></p>
				<br />

			</div>
			<div class="item" data-tap-disabled="true">
				<div id="officemap" style="height:180px;"></div>
			</div>
		</div>  
		<div class="logo">
			<img class="office-logo-big" ng-src={{office.icon}}>
			<p ng-if="!isCastellano()">{{office.title.eu}}</p>
			<p ng-if="isCastellano()">{{office.title.es}}</p>
		</div>
	</ion-content>
</ion-view>

