<ion-header>
	<ion-navbar color="dark">
		<button ion-button start menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			{{ 'item_list.office.title' | translate }}
		</ion-title>
		<ion-buttons right>
			<button ion-button clear (click)="searchbar.show()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar-wrapper #searchbar
		color="dark"
		(ionInput)="filterItems($event)">
	</ion-searchbar-wrapper>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
	<div *ngIf="categories">
		<ion-item-divider color="dark" *ngIf="categories.length < 1">
			<h2>{{ 'item_list.no_items' | translate }}</h2>
		</ion-item-divider>

		<ion-item-group *ngFor="let category of categories">
			<ion-item-divider color="dark" *ngIf="category.name">
				<span class="category">{{ category.name }}</span>
			</ion-item-divider>
			<ion-item-divider color="dark" *ngIf="!category.name">
				<span class="category">{{ 'item_list.office.uncategorized' | translate }}</span>
			</ion-item-divider>
			<ion-item *ngIf="items[category.$key].length < 1">
				<ion-thumbnail item-left>
					<img class="fit-thumbnail" src="assets/img/empty-list.png">
				</ion-thumbnail>
				<h2>{{ 'found_items.no_items' | translate }}</h2>
			</ion-item>
			<button ion-item *ngFor="let item of items[category.$key]"
				(click)="itemTapped($event, item)">
				<ion-thumbnail item-left>
					<div *ngIf="(covers[item.$key] | async)">
						<img class="fit-thumbnail" [src]="(covers[item.$key] | async)?.image">
					</div>
				</ion-thumbnail>
				<h2>{{ item.name }}</h2>
				<p>{{ item.createDate | amTimeAgo }}</p>
			</button>
		</ion-item-group>
	</div> <!-- list -->
</ion-content>

