
<ion-view title="{{item.name}}" hide-back-button="false">
	<ion-nav-buttons side="right">
		<button ng-show="data.currentUser.$id==item.createdBy.$id" class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img ng-src="{{item.createdBy.avatar}}">
				<h2>{{item.createdBy.username}}</h2>
				<p>{{item.createDate | amDateFormat: 'MMMM D, YYYY' }}</p>
				<i class="icon ng-class:favIcon;" ng-click="save()" ng-if="data.currentUser"></i>
			</div>

			<div class="item item-body">
				<h2>{{item.name}}</h2>
				<img class="item-image" ng-src="{{item.cover}}" ng-click="showPicture()" >

				<label class="item item-input item-stacked-label padding">
					<!-- <map on-create="mapCreated(map)"></map> -->
					<div data-tap-disabled="true">
						<div id="alertmap" style="height:180px;"></div>
					</div>
				</label>

				<p>
					{{item.description}}
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#/app/alert_items/messages/{{item.$id}}" class="subdued">
						{{numMessages}} {{"comments" | translate}}
					</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#/app/alert_items/messages/{{item.$id}}">
					<i class="icon ion-chatbox"></i>
					{{"comment" | translate}}
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					{{"share" | translate}}
				</a>
			</div>
		</div>
	</ion-content>
	<script id="popover.html" type="text/ng-template">
		<ion-popover-view style="height: 58px; width: 150px">
			<ion-content>
				<div class="list">
					<span class="item" ng-click="deleteItem()">
						{{'delete_alert' | translate}}
					</span>
				</div>
			</ion-content>
		</ion-popover-view>
	</script>

</ion-view>

