<ion-header>
	<ion-navbar color="dark">
		<ion-title>
			{{ 'messages.title' | translate }}
		</ion-title>
		<ion-buttons right>
			<image-selector [attributes]="['clear']" (imageSelected)="addImage($event)"></image-selector>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="no-comments" *ngIf="messages.length == 0">
		<h2>{{'messages.no_comments' | translate}}</h2>
	</div>
	<div *ngFor="let message of messages" class="message-wrapper">
		<img *ngIf="users[message.user]" [class]="profileClass(message)"
			[src]="users[message.user].avatar" />

		<div [class]="chatBubbleClass(message)">
			<img class="fit-thumbnail" *ngIf="!!message.picture"
				[src]="message.picture" (click)="showPicture($event, message.picture)" />
			<div class="message" [innerHTML]="message.body">
			</div>

			<div class="message-detail">
				<span *ngIf="users[message.user]" class="bold">
					{{users[message.user].username}}
				</span>
				<span>- {{ message.createDate | amTimeAgo }}</span>
			</div>
		</div>
		<div class="cf"></div>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar class="bar-footer" *ngIf="getCurrentUser()">
		<ion-buttons left *ngIf="message.picture">
			<img class="fit-thumbnail" [src]="message.picture">
		</ion-buttons>
		<ion-textarea name="body" [(ngModel)]="message.body" [disabled]="textAreaDisabled"
			[placeholder]="'messages.send_comment' | translate"></ion-textarea>
		<ion-buttons right>
			<button ion-button clear type="button"
				[disabled]="!message.body || message.body === ''"
				(click)="sendMessage()">
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar *ngIf="!getCurrentUser()">
		<div *ngIf="!getCurrentUser()">
			<a (click)="goToLogin()">{{'messages.login' | translate}}</a>
			<span>&nbsp;{{'messages.to_post' | translate}}</span>
		</div>
	</ion-toolbar>
</ion-footer>

