
<ion-view title="{{'messages' | translate}}">
	<ion-nav-buttons side="right" >
		<button ng-hide="!data.currentUser" ng-click="showPopup()" class="button button-icon icon ion-paperclip"></button>
	</ion-nav-buttons>

	<ion-content class="has-header has-footer" has-bouncing="true">
		<div class="no-comments" ng-if="messages.length == 0">
			<h2>{{'no_comments' | translate}}</h2>
		</div>
		<div ng-repeat="message in messages | orderBy:'createDate'" ng-init="user=getUser(message)" class="message-wrapper">
			<div ng-if="user.$id !== data.currentUser.$id">
				<img class="profile-pic left" 
					ng-src="{{user.avatar}}" />

				<div class="chat-bubble left">

					<img class="fit-thumbnail" ng-src="{{message.picture.thumbnail}}" ng-if="!!message.picture.thumbnail"  ng-click="showPicture(message)" />
					<div class="message" ng-bind-html="message.body|nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span class="bold">{{user.username}}</span>,
						<span am-time-ago="message.createDate"></span>
					</div>

				</div>
			</div>

			<div ng-if="user.$id === data.currentUser.$id">
				<img class="profile-pic right" 
					ng-src="{{user.avatar}}"  />

				<div class="chat-bubble right">
					<img class="fit-thumbnail" ng-src="{{message.picture.thumbnail}}" ng-if="message.picture.thumbnail"   ng-click="showPicture(message)" />
					<div class="message" ng-bind-html="message.body|nl2br" autolinker>
					</div>

					<div class="message-detail">
						<span class="bold">{{user.username}}</span>,
						<span am-time-ago="message.createDate"></span>
					</div>
				</div>
			</div>

			<div class="cf"></div>
		</div>
	</ion-content>

	<form name="sendMessageForm" ng-submit="sendMessage()" novalidate ng-if="data.currentUser">
		<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
			<img class="fit-thumbnail" ng-src="{{msg.picture.thumbnail}}" ng-if="msg.picture.thumbnail">
			<label class="item-input-wrapper">
				<textarea ng-model="msg.body" value="" placeholder="{{'send_comment' | translate}}" required minlength="1" maxlength="1500" msd-elastic></textarea>
		   </label>
			<div class="footer-btn-wrap">
				<button class="button button-icon icon ion-android-send footer-btn" type="submit"
					ng-disabled="!msg.body|| msg.body === ''">
				</button>
			</div>
		</ion-footer-bar>
	</form>
	<div ng-if="!data.currentUser">
		<ion-footer-bar class="bar-stable item-input-inset message-footer">
			<a ng-click="loginModal.show()">{{'login' | translate}}</a>
			<span>&nbsp;{{'to_post' | translate}}</span>
		</ion-footer-bar>
	</div>
</ion-view>

