/* Empty. Add your own CSS if you like */
ion-list i{ font-size:1.4em; color: lightgrey; }

.logo { text-align: center; margin-top: 50px; }

.white-space-normal, .white-space-normal p{ white-space: normal; }
